.header {
  background: #0064EB;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 72px;
}

@media (max-width: 425px) {
  .header__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}