.repos {
  padding-bottom: 28px;  
}

.repos__title {
  margin: 0;
  margin-bottom: 30px;
  margin-left: 4px;
}

.repos__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.no-repo {
  height: calc(100vh - 72px - 40px);
  display: flex;
  justify-content: center;
  padding-top: 266px;
  box-sizing: border-box;
}

.no-repo__desc {
  margin: 0;
  width: 243px;
  text-align: center;
  box-sizing: border-box;
  font-size: 22px;
  line-height: 31px;
  color: #808080;
  position: relative;
}

.no-repo__desc::before {
  position: absolute;
  content: "";
  width: 110px;
  height: 110px;
  background-image: url("../../../assets/images/empty-repo.png");
  background-repeat: no-repeat;
  background-position: center;
  left: 67px;
  top: -110px;
}